@CHARSET "EUC-KR";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
	margin:0;
	padding:0;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}
/* 전체DIV */
#wrap {
	width: 100%;
	
	/* 1900px */
	margin: 0 auto;
	min-width: 1000px;
	/* 포지션 absolute로 0,0맞춤 */
	position: absolute;
	top: 0px;
	left: 0px;
}

/*--------------------------------  센터  -------------------------------- */
#center {
	/* 포지션 relative로 안쪽 텍스트만 움직이도록 함 */
	position: relative;
	width: 1000px;
	min-width: 1000px;
	margin: 0 auto;
	z-index: 1;
}

/*--------------------------------  백그라운드 -------------------------------- */
#bg {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -10;
	width:100%;
}

/*헤더  */
#bg_header {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 105px;
	width: 100%;
	opacity:0.95;
	background-color: white;
}


#bg_iqp
{
	position: absolute;
	height: 530px; 
	background-color: #F0F0F0;  
	width:100%;
		
	
}



/*------------------백그라운드----------------  */


#header {
	opacity: 0.9;
	z-index: 102;
	margin: 0 auto;
}

/*up_ul 한국어,영어 선택  */
#header>#up_ul {
	position: absolute;
	top: 0px;
	right: 0px; /* down_ul의 right와 값 같아야함 */
}

#header>#up_ul>li {
	float: left;
}

#header>#up_ul>li>a {
	padding: 4px 17px; /* 글자 박스의 넓이 */
	font-size: 50%;
	font-family: '나눔고딕', 'Nanum Gothic', sans-serif;
	color: white;
	margin-left: 1px; /* 글자사이간 넓이 */
	background-color: #244978;
}

#header>#up_ul>li:first-child>a {
	border-radius: 0 0 0 5px;
}

#header>#up_ul>li:last-child>a {
	border-radius: 0 0 5px 0;
}

/*--------------------------------  한국어, 영어선택종료-------------------------------- */

/*-------------------------------- 회사소개, 투자철학, 투자자안내, 공지사항, 연락처   */
#header>#down_ul {
	position: absolute;
	top: 65px;
	right: 30px;
}

#header>#down_ul>li {
	float: left;
}


#header>#down_ul>li>a {
	font-size: 90%;
	font-weight:600;
	font-family: '나눔고딕', 'Nanum Gothic', sans-serif;
	margin-left: 50px; /* 글자사이간 넓이 */
	
	
}



#down_ul a:hover
{

	text-decoration: underline;
	background-image:url("img/zz.png");

	
}





#header > a 
{
	position:absolute;
	margin-top: 15px;
}


/*--------------------------이미지-------------------  */

#QVI
{
		position:relative;
		top:60px;
		left: 50px;
	
}
#QVI > h1
{
		font-size :  40px;
		font-weight:200;
		font-family: 'Times New Roman', Times, serif; 

}

#QVI > h4
{
	font-weight:200;
	font-family: '나눔고딕', 'Nanum Gothic', sans-serif;
}



/* ----------------------------영어소개------------------------------ */

#intro
{
	position:relative;
	
}

#intro > #intro_1
{
	position:absolute;
	top:65px;
	font-family:'Times New Roman', Times, serif; 
	
}

/* ----------------------------한글소개------------------------------ */

#iqp 
{
	position: relative;
	
}


#iqp > img
{
	position:absolute;
	margin:0 auto;		
	z-index: -100;
}



/* 한글소개 3개 글자들 */
#iqp > #iqp_1
{
	font-size: 68%;
	width:630px;
	height:105px;
	position:absolute;
	left:340px;
	top:83px;
	font-family: '나눔고딕', 'Nanum Gothic', sans-serif;
	font-weight: 500;
	
}

#iqp > #iqp_2
{
	font-size: 68%;
	width:630px;
	height:105px;
	position:absolute;
	left:340px;
	top:240px;
	font-family: '나눔고딕', 'Nanum Gothic', sans-serif;
	font-weight: 500;
}

#iqp > #iqp_3
{
	font-size: 68%;
	width:630px;
	height:105px;
	position:absolute;
	left:340px;
	top:385px;
	font-family: '나눔고딕', 'Nanum Gothic', sans-serif;
	font-weight: 500;
}





/*--------------------------------  푸터 -------------------------------- */

#footer{

 	margin: 0 auto; 

}

#footer> img
{	position:absolute;	
	margin-left: 0px;
	
}

#footer> h5
{	margin:0 auto;
	position:absolute;
	bottom: 17px;
	right:0px;
	font-size: 70%;
}

